{% extends 'base.html' %}

{% block content %}
<h1>{% if form.instance.pk %}Editar{% else %}Criar{% endif %} Regional</h1>

{% if messages %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-4 mb-3">
            <label class="me-3" for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
            {{ form.nome }}
        </div>
        <div class="col-4 mb-3">
            <label class="me-3" for="{{ form.numero.id_for_label }}">{{ form.numero.label }}</label>
            {{ form.numero }}
        </div>
        <div class="col-4 mb-3">
            <label class="me-3" for="{{ form.cidade.id_for_label }}">{{ form.cidade.label }}</label>
            {{ form.cidade }}
        </div>
        <div class="col-4 mb-3">
            <label class="me-3" for="{{ form.tipo_regional.id_for_label }}">{{ form.tipo_regional.label }}</label>
            {{ form.tipo_regional }}
        </div>
    </div>
    
    <button type="submit" class="btn btn-success">{% if form.instance.pk %}Atualizar{% else %}Cadastrar{% endif %}</button>
</form>

<a href="{% url 'list_regionais' %}" class="btn btn-secondary">Voltar</a>
{% endblock %}