{% extends 'base.html' %}

{% block content %}
<h1 class="bold">Regionais</h1>
<hr>
<h2>Listar Regionais</h2>

{% if messages %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<!-- Inclua o partial de busca e criação de registro -->
{% include "partials/_filters.html" with search_url=request.path create_url=create_url %}

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Número</th>
      <th>Cidade</th>
      <th>Tipo de Regional</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for regional in page_obj %}
    <tr>
      <td>{{ regional.nome }}</td>
      <td>{{ regional.numero }}</td>
      <td>{{ regional.cidade }}</td>
      <td>{{ regional.get_tipo_regional_display }}</td>
      <td class="botoes">
        <a href="{% url 'detail_regional' regional.pk %}" class="btn btn-info"><i class="bi bi-eye-fill"></i></a>
        <a href="{% url 'update_regional' regional.pk %}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
        <form method="post" action="{% url 'delete_regional' regional.pk %}" style="display:inline;" class="delete-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
        </form>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">Nenhuma regional encontrada.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Inclua o partial de paginação -->
{% include "partials/_pagination.html" %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteForms = document.querySelectorAll('.delete-form');
        deleteForms.forEach(function (form) {
            form.addEventListener('submit', function (event) {
                const confirmed = confirm('Tem certeza que deseja remover a regional?');
                if (!confirmed) {
                    event.preventDefault();
                }
            });
        });
    });
</script>

{% endblock %}