{% extends 'base.html' %}

{% block content %}
<h1>Detalhes da Regional</h1>

<div class="row">
  <div class="col-4 mb-3">
    <label class="me-3">Nome:</label><br />
    {{ regional.nome }}
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">Número:</label><br />
    {{ regional.numero }}
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">Cidade:</label><br />
    {{ regional.cidade }}
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">Tipo de Regional:</label><br />
    {{ regional.get_tipo_regional_display }}
  </div>
</div>

<a href="{% url 'update_regional' regional.pk %}" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Editar</a>
<form method="post" action="{% url 'delete_regional' regional.pk %}" style="display:inline;">
    {% csrf_token %}
    
</form>
<a href="{% url 'list_regional' %}" class="btn btn-secondary"><i class="bi bi-box-arrow-in-left"></i> Voltar</a>
{% endblock %}