{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="pb-2">Detalhes do Planejamento</h2>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Descrição:</strong><br>
                            {{ planejamento.descricao }}
                        </div>
                        <div class="col-md-6">
                            <strong>Valor Planejado:</strong><br>
                            R$ {{ planejamento.valor_planejado|floatformat:2 }}
                        </div>
                    </div>
                    <div class="mt-3">
                        <a href="{% url 'update_planejamento' planejamento.id %}" class="btn btn-warning me-2">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <a href="{% url 'list_planejamentos' %}" class="btn btn-secondary">
                            <i class="bi bi-arrow-90deg-left"></i> Voltar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}