{% extends 'base.html' %}

{% block content %}
<h2 class="pb-2">Detalhes da Função Profissional</h2>

<div class="row">
  <div class="col-6 mb-3">
    <label class="me-3">Nome da Função:</label><br />
    {{ funcao.nome }}
  </div>
  <div class="col-6 mb-3">
    <label class="me-3">Conselho:</label><br />
    {{ funcao.conselho }}
  </div>
</div>

<a href="{% url 'update_funcao_profissional' funcao.id %}" class="btn btn-warning  float-end"><i class="bi bi-pencil-square"></i> Editar</a>
<a href="{% url 'list_funcao_profissional' %}" class="btn btn-secondary"><i class="bi bi-box-arrow-in-left"></i> Voltar</a>
{% endblock %}