{% extends 'base.html' %}

{% block content %}
<h1>Listagem de Usuários</h1>
<a href="{% url 'create_usuario' %}" class="btn btn-primary">Cadastrar Novo Usuário</a> <!-- Botão para cadastrar novo usuário -->
<h2>Este é o template do cadastro_jogos</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome_completo }}</td>
            <td>{{ usuario.cpf }}</td>
            <td>
                <a href="{% url 'read_usuario' usuario.id %}" class="btn btn-info">Ver</a>
                <a href="{% url 'update_usuario' usuario.id %}" class="btn btn-warning">Editar</a>
                <form method="post" action="{% url 'delete_usuario' usuario.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}