{% extends 'base.html' %}

{% block content %}
<h2 class="pb-2">Detalhes do Pedido</h2>

<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <dl class="row">
          <dt class="col-sm-4">Cliente:</dt>
          <dd class="col-sm-8">{{ pedido.cliente.nome }}</dd>
          
          <dt class="col-sm-4">Tipo:</dt>
          <dd class="col-sm-8">{{ pedido.content_type.model|title }}</dd>
          
          <dt class="col-sm-4">Camisa:</dt>
          <dd class="col-sm-8">{{ pedido.camisa.descricao }}</dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="row">
          <dt class="col-sm-4">Tamanho:</dt>
          <dd class="col-sm-8">{{ pedido.get_tamanho_display }}</dd>
          
          <dt class="col-sm-4">Cor:</dt>
          <dd class="col-sm-8">{{ pedido.get_cor_display }}</dd>
          
          <dt class="col-sm-4">Status:</dt>
          <dd class="col-sm-8">
            <span class="badge bg-{% if pedido.status == 'pago' %}success{% elif pedido.status == 'pendente' %}warning{% else %}info{% endif %}">
              {{ pedido.get_status_display }}
            </span>
          </dd>
        </dl>
      </div>
    </div>
    
    <div class="row mt-3">
      <div class="col-md-6">
        <dl class="row">
          <dt class="col-sm-4">Valor:</dt>
          <dd class="col-sm-8">R$ {{ pedido.valor_venda|floatformat:2 }}</dd>
          
          <dt class="col-sm-4">Data Pedido:</dt>
          <dd class="col-sm-8">{{ pedido.data_pedido|date:"d/m/Y H:i" }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between">
  <a href="{% url 'list_pedidos' %}" class="btn btn-secondary">
    <i class="bi bi-arrow-90deg-left"></i> Voltar
  </a>
  <div>
    <a href="{% url 'update_pedido' pedido.id %}" class="btn btn-warning">
      <i class="bi bi-pencil-square"></i> Editar
    </a>
  </div>
</div>
{% endblock %}