{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2 class="pb-2">{{ titulo }}</h2>

<!--- Mensagens de erro -->
{% if form.errors %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for error in form.non_field_errors %}
        <div class="alert alert-error alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
      {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-error alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<form method="post" id="camisaForm">
  {% csrf_token %}

  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="me-3" for="{{ form.descricao.id_for_label }}">{{ form.descricao.label }}</label>
      {{ form.descricao }}
    </div>
    
    <div class="col-md-6 mb-3">
      <label class="me-3" for="{{ form.tipo.id_for_label }}">{{ form.tipo.label }}</label>
      {{ form.tipo }}
    </div>   
    
    <div class="col-md-4 mb-3">
      <label class="me-3" for="{{ form.quantidade.id_for_label }}">{{ form.quantidade.label }}</label>
      {{ form.quantidade }}
    </div>
    
    <div class="col-md-4 mb-3">
      <label class="me-3" for="{{ form.valor_compra.id_for_label }}">{{ form.valor_compra.label }}</label>
      {{ form.valor_compra }}
    </div>
    
    <div class="col-md-4 mb-3">
      <label class="me-3" for="{{ form.valor_venda.id_for_label }}">{{ form.valor_venda.label }}</label>
      {{ form.valor_venda }}
    </div>
  </div>

  <button type="submit" class="btn btn-success me-2 float-end">
    <i class="bi bi-floppy"></i> &nbsp; Salvar
  </button>
  <a href="{% url 'list_camisas' %}" class="btn btn-secondary"><i class="bi bi-arrow-90deg-left"></i> Voltar</a>
</form>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      const form = document.querySelector("#camisaForm");
      if (form) {
          form.addEventListener("submit", function () {
              // Formatação dos valores monetários antes do envio
              const valorCompra = document.querySelector("#id_valor_compra");
              const valorVenda = document.querySelector("#id_valor_venda");
              
              if (valorCompra) {
                  valorCompra.value = valorCompra.value.replace("R$", "").replace(/\./g, "").replace(",", ".").trim();
              }
              
              if (valorVenda) {
                  valorVenda.value = valorVenda.value.replace("R$", "").replace(/\./g, "").replace(",", ".").trim();
              }
          });
      }
  });
</script>

{% endblock %}