{% extends 'base.html' %}

{% block content %}
<h2 class="pb-2">Detalhes da Instituição</h2>

<div class="row">
  <div class="col-4 mb-3">
    <label class="me-3">Nome:</label><br />
    {{ instituicao.nome|capfirst }}
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">CEP:</label><br />
    <span class="mask-cep">{{ instituicao.cep }}</span><br />
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">Logradouro:</label><br />
    {{ instituicao.logradouro }}
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">Número:</label><br />
    {{ instituicao.numero }}
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">Bairro:</label><br />
    {{ instituicao.bairro }}
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">Município:</label><br />
    {{ instituicao.municipio }}
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">Complemento:</label><br />
    {{ instituicao.complemento|default:'-'|capfirst }}
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">Pertence à Regional?:</label><br />
    {{ instituicao.pertence_a_regional|yesno:"Sim,Não" }}
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">Tipo de Regional:</label><br />
    {{ instituicao.tipo_regional|default:'-'|capfirst }}
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">Regional:</label><br />
    {{ instituicao.regional|default:'-' }}
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">CPF/CNPJ:</label><br />
    <span class="{% if instituicao.cpf_cnpj|length == 11 %}mask-cpf{% else %}mask-cnpj{% endif %}">
      {{ instituicao.cpf_cnpj|default:'-' }}
    </span> 
  </div>
  <div class="col-4 mb-3">
    <label class="me-3">Rede de Ensino:</label><br />
    {{ instituicao.rede_ensino|default:'-'|capfirst }}
  </div>
</div>

<a href="{% url 'update_instituicao' instituicao.id %}" class="btn btn-warning  float-end"><i class="bi bi-pencil-square"></i> Editar</a>
<a href="{% url 'list_instituicoes' %}" class="btn btn-secondary"><i class="bi bi-box-arrow-in-left"></i> Voltar</a>
{% endblock %}