{% extends 'base.html' %}

{% block content %}
<h2 class="pb-2">Detalhes do Evento</h2>

<div class="row">
  <div class="col-6 mb-3">
    <label class="me-3">Descrição:</label><br />
    {{ evento.descricao }}
  </div>
  <div class="col-6 mb-3">
    <label class="me-3">Tipo:</label><br />
    {{ evento.tipo.descricao }}
  </div>
</div>

<div class="row">
  <div class="col-6 mb-3">
    <label class="me-3">Data:</label><br />
    {{ evento.data|date:"d/m/Y" }}
  </div>
  <div class="col-6 mb-3">
    <label class="me-3">Quantidade de Vagas:</label><br />
    {{ evento.quantidade_pessoas }}
  </div>
</div>

<div class="row">
  <div class="col-6 mb-3">
    <label class="me-3">Valor Unitário:</label><br />
    R$ {{ evento.valor_unitario|floatformat:2 }}
  </div>
  <div class="col-6 mb-3">
    <label class="me-3">Status:</label><br />
    <span class="badge {% if evento.status == 'pendente' %}bg-warning{% elif evento.status == 'aberto' %}bg-success{% elif evento.status == 'encerrado' %}bg-secondary{% else %}bg-danger{% endif %}">
      {{ evento.get_status_display }}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-6 mb-3">
    <label class="me-3">Data de Criação:</label><br />
    {{ evento.data_criacao|date:"d/m/Y H:i" }}
  </div>
  <div class="col-6 mb-3">
    <label class="me-3">Última Atualização:</label><br />
    {{ evento.data_atualizacao|date:"d/m/Y H:i" }}
  </div>
</div>

<div class="mt-4">
    <a href="{% url 'evento_inscritos' evento.id %}" class="btn btn-primary me-2">
        <i class="bi bi-people"></i> Ver Inscritos ({{ evento.contador_inscricoes }})
    </a>
    <a href="{% url 'update_evento' evento.id %}" class="btn btn-warning me-2 float-end">
        <i class="bi bi-pencil-square"></i> Editar
    </a>
    <a href="{% url 'list_eventos' %}" class="btn btn-secondary">
        <i class="bi bi-box-arrow-in-left"></i> Voltar
    </a>
</div>
{% endblock %}