{% load i18n static %}
{% if ACESSO_RAPIDO %}
<div class="header-links dropdown">
    <button class="br-button circle small {{ HEADER_FONT_COLOR }}" type="button" data-toggle="dropdown"
        aria-label="Abrir Acesso Rápido"><i class="fas fa-ellipsis-v" aria-hidden="true"></i>
    </button>
    <div class="br-list">
        <div class="header">
            <div class="title {{ HEADER_FONT_COLOR }}">Acesso Rápido</div>
        </div>
        {% for acesso_rapido in ACESSO_RAPIDO %}
        <a class="br-item {{ HEADER_BG_COLOR }} {{ HEADER_FONT_COLOR }}" href="{{ acesso_rapido.url }}">
            {{ acesso_rapido.label }}
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if ACESSO_RAPIDO and FUNCIONALIDADES %}
<span class="br-divider vertical mx-half mx-sm-1"></span>
{% endif %}

{% if FUNCIONALIDADES %}
<div class="header-functions dropdown">
    <button class="br-button circle small {{ HEADER_FONT_COLOR }}" type="button" data-toggle="dropdown"
        aria-label="Abrir Funcionalidades do Sistema"><i class="fas fa-th"
            aria-hidden="true"></i>
    </button>
    <div class="br-list">
        <div class="header">
            <div class="title {{ HEADER_FONT_COLOR }}">Funcionalidades do Sistema</div>
        </div>
        {% for funcionalidade in FUNCIONALIDADES %}
        <div class="br-item {{ HEADER_BG_COLOR }}">
            <button class="br-button circle small {{ HEADER_FONT_COLOR }}" type="button" aria-label="{{ funcionalidade.label }}"
                onclick="window.location.href='{{ funcionalidade.url }}';"
                >
                <i class="fas {{ funcionalidade.icon }}" aria-hidden="true"></i>
                <span class="text">{{ funcionalidade.label }}</span>
            </button>
        </div> 
        {% endfor %}
    </div>
</div>
{% endif %}