<!-- Barra Lateral -->
<div class="sidebar text-white" id="sidebar">
    <button class="btn btn-link text-white sidebar-toggle" id="sidebarToggle">
        <i class="bi bi-list fs-5"></i>
    </button>
    <div class="d-flex flex-column flex-shrink-0 p-2 h-100">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item mb-2">
                <a href="{% url 'usuario_list' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'usuario_list' %}active{% endif %}">
                    <i class="bi bi-person-fill me-2"></i>
                    Usuários
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-geo-alt-fill me-2"></i>
                    Regionais
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-tag-fill me-2"></i>
                    Categorias
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-trophy-fill me-2"></i>
                    Modalidades
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-list-ol me-2"></i>
                    Classificações
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-calendar-event-fill me-2"></i>
                    Eventos
                </a>
            </li>
        </ul>
    </div>
</div>
